// #home {
//   background-color: $red;
//   color: $white;
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   text-align: center;
//   p {
//     margin-top: 1.5em;
//   }
//   a {
//     color: $gray;
//     font-weight: bold;
//     font-size: 16px;
//   }
// }

#home {
  h1 {
    text-shadow: 1px 1px 2px $gray;
  }
  p {
    text-shadow: 1px 1px 1px $gray;
    font-weight: bold;
    font-size: 25px;
    color: $white;
  }
}
