// Define variables for your color scheme

// For example:
$white: rgba(255, 255, 255, 1);
$red: #C52233;
$blue: #001F52;
$yellow: #FDB631;
$light-orange: #E20049;
$green: #C2FAF1;
$purple: #001F52#A10054;
$gray: #000000;
$light-gray: #F4F4F4;
$black: rgba(0,0,0,0.8);
